#sounds(v-if="!state.isRandomSoundSelected")
  .card
    .card-header
      h3.card-title.text-bold Sound Library
      .card-options
        .input-icon
          span.input-icon-addon
            i.fe.fe-search
          input(type="text" v-model="state.libraryFilter" class="form-control" placeholder="Filter the Library")
    .text-muted.text-center.py-6(v-if="library.length === 0") No sounds here.
    .text-muted.text-center.py-6(v-if="filteredLibrary.length === 0 && library.length > 0") Can't find any sounds.
    .table-responsive
      table.table.card-table.table-striped.table-vcenter
        tbody
          tr(v-for="sound in filteredLibrary")
            td.w-1("v-bind:class"="{ 'sound-disabled' : checkTimeLeft(sound.timeLeft), 'sound-enabled' : !checkTimeLeft(sound.timeLeft) }")
              a(href="#")
                button.btn.btn-sm.btn-orange.btn-block.float-right.ml-2(type="button" "v-on:click"="state.selectedSound = sound;" "v-bind:disabled"="checkTimeLeft(sound.timeLeft)")
                  i.fe.fe-arrow-up.mr-2
                  | Select
            td.w-1("v-bind:class"="{ 'sound-disabled' : checkTimeLeft(sound.timeLeft), 'sound-enabled' : !checkTimeLeft(sound.timeLeft) }")
              button.btn.btn-sm.btn-pink.btn-block.float-right.ml-2(type="button" "v-on:click"="state.selectedSound = sound; playSound();" "v-bind:disabled"="checkTimeLeft(sound.timeLeft)")
                i.fe.fe-arrow-right.mr-2
                | Select &amp; Queue
            td.col("v-bind:class"="{ 'sound-disabled' : checkTimeLeft(sound.timeLeft), 'sound-enabled' : !checkTimeLeft(sound.timeLeft) }") {{ sound.description }}
            td.col-3
              .tag(v-if="checkTimeLeft(sound.timeLeft)") Cooldown:
                span.tag-addon.font-weight-bold {{ sound.timeLeft }}