meta(content="Soundbot" property="og:title")
meta(content="There is nothing sweeter than a critical hit." property="og:description")
meta(content="🤖" property="og:site_name")
meta(name="theme-color" content="#ffcc00")