doctype
html(lang='en-AU')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Soundbot
    link(rel='stylesheet', href='normalise.css')
    link(rel='stylesheet', href='index.css')
    link(rel='stylesheet', href='dashboard.css')
    script(src='vue.min.js')
    script(src='countUp.min.js')

  body
    #app("v-cloak")
      .page
        #dashboard.page-main
          .header.mb-5
            .container
              .d-flex
                .header-brand Soundbot
                .d-flex.order-lg-2.ml-auto
                  .nav-item.d-none.d-md-flex.pr-0
                    .leading-none.nav-link.pr-0
                      span.ml-2.d-none.d-lg-block.text-right.pr-2
                        span.text-default(v-if="user.username") {{ user.username }}
                        small.text-muted.d-block.mt-1(v-if="user.discriminator") &#35;{{ user.discriminator }}
                      span.avatar(":style"="avatarImage")

                      a(href="/auth/discord" v-if="!token")
                        button.btn.btn-sm.btn-secondary.ml-3(type="button") Login
                      a(href="#" v-if="token")
                        button.btn.btn-sm.btn-secondary.ml-3(type="button" "v-on:click"="logoutUser()") Logout

          #container.container
            .row
              .col-6
                #text
                  .card
                    .card-header
                      h3.card-title.text-bold Text
                    .card-body
                      .row
                        .col-6
                          select.custom-select(v-model="state.selectedTextChannel")
                            option(v-for="channel in channels.text" "v-bind:value"="channel.id") &#x1F535; {{ channel.name }}
                        .col-6
                          .btn-list
                            button(type="button" class="btn btn-block btn-azure btn-primary")
                              i.fe.fe-mic.mr-2
                              | Send a TTS Sentence
                            button(type="button" class="btn btn-block btn-green btn-primary")
                              i.fe.fe-book-open.mr-2
                              | Send a Text Sentence

                #voice
                  .card
                    .card-header
                      h3.card-title Voice
                      .card-options
                        label.custom-switch.m-0
                          span.mr-3.tag.tag-rounded("v-bind:class"="{ 'tag-blue' : state.isRandomSoundSelected, 'badge-light' : !state.isRandomSoundSelected }") Random Sound
                          input(type="checkbox" class="custom-switch-input" v-model="state.isRandomSoundSelected")
                          span(class="custom-switch-indicator")
                    .card-body
                      .row
                        .col-6
                          select(v-model="state.selectedVoiceChannel").custom-select
                            option(v-for="channel in channels.voice" "v-bind:value"="channel.id") &#x1F4E2; {{ channel.name }}
                        .col-6
                          button(type="button" class="btn btn-indigo btn-primary btn-block" v-if="state.isRandomSoundSelected")
                            i.fe.fe-music.mr-2
                            | Play a Random Sound

                          button.btn.btn-primary.btn-block(
                            type="button"
                            v-if="!state.isRandomSoundSelected"
                            "v-on:click"="resetState()"
                            "v-bind:class"="{ 'btn-secondary' : !state.selectedSound.id, 'btn-pink' : state.selectedSound.id }"
                            "v-bind:disabled"="!state.selectedSound.id"
                          )
                            span(v-if="!state.selectedSound.id")
                              i.fe.fe-chevrons-down.mr-2
                              | Select a sound from the library
                            span(v-else)
                              i.fe.fe-music.mr-2
                              | Play Sound
              .col-6
                #queue
                  .card
                    .card-header
                      h3.card-title Queue
                      .card-options
                        span.tag Items in Queue:
                          span#queue-count.tag-addon.tag-orange.font-weight-bold {{state.queue}}
                    .card-alert.alert.alert-icon.alert-warning.mb-0(v-if="state.queue === 0")
                      i.fe.fe-loader.ml-1.mr-2
                      | The queue is empty, go hog wild!
                    .table-responsive
                      table.table.card-table.table-vcenter
                        tbody
                          tr(v-for="item in queue")
                            td.w-1.font-weight-bold {{ item.position }}
                            td.w-1
                              span.avatar(":style"="item.avatar")
                            td.font-weight-bold {{ item.username }}
                            td
                              .tag(":class"="item.tag") {{ item.action }}
                            td
                              code {{ item.destination }}

            .row.row-cards.row-deck(v-if="!state.isRandomSoundSelected")
              #sounds.col-7
                .card
                  .card-header
                    h3.card-title.text-bold Sound Library
                  .card-body
                    .row
                      .col-6
                        .input-icon
                          span.input-icon-addon
                            i.fe.fe-search
                          input(type="text" v-model="state.libraryFilter" class="form-control" placeholder="Filter the Sound Library")
                      .col-6
                        button.btn.btn-block.btn-orange Give me a shuffle

              #sound-info.col-5(v-if="!state.isRandomSoundSelected")
                .mb-3
                  #nosound.alert.alert-icon.alert-warning.pt-3.pr-3.pb-3(v-if="!state.selectedSound.id")
                    i.fe.fe-alert-triangle.mr-2(aria-hidden="true")
                    .blockquote.m-0 No sound selected!
                  #soundselected.alert.alert-success.p-4(v-if="state.selectedSound.id")
                    h4 Selected Sound:
                    .font-italic.blockquote.m-0 "{{ state.selectedSound.description }}"

            .row.row-cards.row-deck(v-if="!state.isRandomSoundSelected")
              .col-3(v-for="sound in filteredLibrary")
                .card
                  .card-body.p-4
                    h4.mb-2 {{ sound.id }}
                    p.text-muted {{ sound.description }}
                  .card-footer.p-3
                    button.btn.btn-sm.btn-green.btn-block.float-right.ml-2(type="button" "v-on:click"="state.selectedSound = sound;")
                      i.fe.fe-arrow-up.mr-2
                      | Select

  script(src='index.js')