doctype
html(lang='en-AU')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Soundbot
    link(rel='stylesheet', href='normalise.css')
    link(rel='stylesheet', href='index.css')
    link(rel='stylesheet', href='dashboard.css')
    script(src='vue.min.js')
    script(src='countUp.min.js')

  body
    #app.page
      #dashboard.page-main
        .header.mb-5
          .container
            .d-flex
              .header-brand Soundbot
              .d-flex.order-lg-2.ml-auto
                .nav-item.d-none.d-md-flex.text-muted Version 3.0.0
        #container.container
          .row
            #voice.col-6
              .card
                .card-header
                  h3.card-title Voice
                  .card-options
                    label.custom-switch.m-0
                      .mr-3 Random Sound
                      input(type="checkbox" value="1" class="custom-switch-input" checked)
                      span(class="custom-switch-indicator")
                .card-body
                  .form-group
                    label.form-label Select a voice channel
                    select.custom-select.custom-select-lg.mb-3
                      option(selected) General
                      option(value="1") HoTS
                      option(value="2") PUBG I
                      option(value="3") PUBG II
                      option(value="4") Testing
                  .btn-list
                    button(type="button" class="btn btn-indigo btn-primary btn-lg")
                      i.fe.fe-music.mr-2
                      | Play a Random(?) Sound

            #text.col-6
              .card
                .card-header
                  h3.card-title.text-bold Text
                .card-body
                  .form-group
                    label.form-label Select a text channel
                    select.custom-select.custom-select-lg.mb-3
                      option(selected) #bluehole
                  .btn-list
                    button(type="button" class="btn btn-azure btn-primary btn-lg")
                      i.fe.fe-mic.mr-2
                      | Generate a TTS Sentence
                    button(type="button" class="btn btn-green btn-primary btn-lg")
                      i.fe.fe-book-open.mr-2
                      | Generate a Text Sentence

          .row
            #sounds.col-12
              .card
                .card-header
                  h3.card-title.text-bold Sound Library
                .card-body

  script(src='index.js')